//colors

$background-color: #eae7dc;
$text-color: #3d3d3b;
$card-background: #d8c3a5;
$border: #e98074;
$button-text: #e85a4f;

//layout-widths

$mobile: 640px;
$desktop: 1440px;

//font-size

$font-size: 13px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: $background-color;
}

main {
  width: 100vw;
  height: 100vh;
  .header {
    text-align: center;
  }
  .add-book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 200ms ease-in-out;
      border: 1px solid grey;
      border-radius: 1rem;
      z-index: 10;
      background-color: $card-background;

      padding: 1rem 2rem;
      max-width: 80%;
      font-size: 18px;
      line-height: 25px;
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid grey;
        .title {
          font-weight: bold;
          padding: 1rem;
        }
        .close-btn {
          cursor: pointer;
          border: none;
          outline: none;
          background: none;
          font-size: 2.25rem;
          font-weight: bold;
          padding-right: 1rem;
        }
      }
      &__body {
        padding: 1rem;
        input {
          padding: 5px;
        }
        .add-btn {
          font-family: "Montserrat", sans-serif;
          color: $text-color;
          border: 1px solid grey;
          background-color: $background-color;
          font-size: 18px;
          cursor: pointer;
          margin-left: 15px;
          padding: 5px;
          width: 3rem;
        }
      }
    }

    .modal.active {
      transform: translate(-50%, -50%) scale(1);
    }

    #overlay {
      transition: 200ms ease-in-out;
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $text-color;
      pointer-events: none;
    }
    #overlay.active {
      opacity: 1;
      pointer-events: all;
    }
  }
  .all-books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    .book-card {
      font-size: 18px;
      padding: 1rem 2rem;
      width: 300px;
      height: 350px;
      border: 0.2px solid grey;
      text-align: center;
      color: $text-color;
      list-style-type: none;
      line-height: 40px;
    }
  }
  button {
    font-family: "Montserrat", sans-serif;
    color: black;
    border: 1px solid grey;
    background-color: rgba(211, 211, 211, 0.425);
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    margin: 15px;
  }
}
